*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

nav a {
    margin-left: 4rem;
    text-decoration: none;
}

.Logo {
    color: #fa9d55;
}

