*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff7f3f;
    margin-left: 150px;
}


nav  ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li {
    font-size: 16px;
}   

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav a:hover{
    color: #fa9d55;
    /* transition: color ease-in .3s */
}

.Logo {
    padding: 50;
    color: #fa9d55;
}

.login-btn{
    display: inline;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 20px;
    /* margin-left: 100px; */

}
.signup-btn{
    display: inline;
    background: #fa9d55;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
   }

   


   /* Responsive Design - Media Queries */
   /* Small devices (phones, 600px and below) */
   @media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    .auth-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .auth-buttons .login-btn, 
    .auth-buttons .signup-btn {
        font-size: 14px;
        padding: 10px 20px;
        flex-direction: column;
    }
   }


