*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 400;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70px; */
}

nav  ul{
    display: flex;
    list-style: none;
    margin-left: 60px;
    margin-right: 60px;
}

nav ul li {
    margin-left: 40px;
}




nav ul li a {
    text-decoration: none;
    color: #333;
}

nav a:hover{
    color: #fa9d55;
    /* transition: color ease-in .3s */
}

.Logo {
    padding: 50;
    color: #fa9d55;
}

.nav-login-btn{
    display: inline;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 20px;
    margin-right: 20px;

}
.nav-signup-btn{
    display: inline;
    background: #fa9d55;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
   }

